
*.pdb
*.dll
C\#_onMac/bin/Debug/netcoreapp3.1/C\#_onMac.pdb
C\#_onMac/bin/Debug/netcoreapp3.1/C\#_onMac.dll
C\#_onMac/bin/Debug/netcoreapp3.1/C\#_onMac
C\#_onMac/bin/Debug/net6.0/C\#_onMac.runtimeconfig.json
C\#_onMac/bin/Debug/net6.0/C\#_onMac.deps.json
C\#_onMac/bin/Debug/net6.0/C\#_onMac
C\#_onMac/bin/Debug/netcoreapp3.1/C\#_onMac.pdb
C\#_onMac/obj/project.nuget.cache
C\#_onMac/obj/project.assets.json
C\#_onMac/obj/Debug/netcoreapp3.1/C\#_onMac.pdb
C\#_onMac/obj/Debug/netcoreapp3.1/C\#_onMac.genruntimeconfig.cache
C\#_onMac/obj/Debug/netcoreapp3.1/C\#_onMac.GeneratedMSBuildEditorConfig.editorconfig
C\#_onMac/obj/Debug/netcoreapp3.1/C\#_onMac.dll
C\#_onMac/obj/Debug/netcoreapp3.1/C\#_onMac.csproj.FileListAbsolute.txt
C\#_onMac/obj/Debug/netcoreapp3.1/C\#_onMac.csproj.CoreCompileInputs.cache
C\#_onMac/obj/Debug/netcoreapp3.1/C\#_onMac.csproj.AssemblyReference.cache
C\#_onMac/obj/Debug/netcoreapp3.1/C\#_onMac.assets.cache
C\#_onMac/obj/Debug/netcoreapp3.1/apphost
C\#_onMac/obj/Debug/net6.0/C\#_onMac.genruntimeconfig.cache
C\#_onMac/obj/Debug/net6.0/C\#_onMac.GeneratedMSBuildEditorConfig.editorconfig
C\#_onMac/obj/Debug/net6.0/C\#_onMac.csproj.FileListAbsolute.txt
C\#_onMac/obj/Debug/net6.0/C\#_onMac.csproj.CoreCompileInputs.cache
C\#_onMac/obj/Debug/net6.0/C\#_onMac.assets.cache
C\#_onMac/obj/Debug/net6.0/C\#_onMac.AssemblyInfoInputs.cache
C\#_onMac/obj/Debug/net6.0/C\#_onMac.AssemblyInfo.cs
C\#_onMac/obj/Debug/net6.0/apphost
C\#_onMac/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
C\#_onMac/obj/C\#_onMac.csproj.nuget.g.props
C\#_onMac/obj/C\#_onMac.csproj.nuget.dgspec.json
C\#_onMac/C\#_onMac.sln
C\#_onMac/bin/Debug/netcoreapp3.1/C\#_onMac
C\#_onMac/obj/project.assets.json
*.cache
*.props
C\#_onMac/obj/project.assets.json
C\#_onMac/obj/C\#_onMac.csproj.nuget.g.props
C\#_onMac/obj/project.assets.json
C\#_onMac/obj/C\#_onMac.csproj.nuget.g.props
C\#_onMac/obj/C\#_onMac.csproj.nuget.dgspec.json
C\#_onMac/obj/project.nuget.cache
C\#_onMac/obj/project.assets.json
C\#_onMac/obj/C\#_onMac.csproj.nuget.g.props
C\#_onMac/obj/C\#_onMac.csproj.nuget.dgspec.json
vscode_C\#/bin
vscode_C\#/obj
vscode_C\#/obj/Debug/net6.0
vscode_C\#/obj/Debug/net6.0/apphost
vscode_C\#/obj/Debug/net6.0/vscode_C\#.AssemblyInfo.cs
vscode_C\#/obj/Debug/net6.0/vscode_C\#.assets.cache
vscode_C\#/obj/Debug/net6.0/vscode_C\#.csproj.AssemblyReference.cache
vscode_C\#/obj/Debug/net6.0/vscode_C\#.GeneratedMSBuildEditorConfig.editorconfig
vscode_C\#/obj/project.assets.json
vscode_C\#/obj/project.nuget.cache
vscode_C\#/obj/vscode_C\#.csproj.nuget.dgspec.json
vscode_C\#/obj/vscode_C\#.csproj.nuget.g.props
vscode_C\#/vscode_C\#.sln
.DS_Store
.DS_Store
C\#_onMac/obj/C\#_onMac.csproj.nuget.dgspec.json
C\#_onMac/obj/C\#_onMac.csproj.nuget.g.props
C\#_onMac/obj/project.assets.json
C\#_onMac/obj/project.nuget.cache
vscode_C\#/obj/Debug/net6.0/vscode_C\#.assets.cache
vscode_C\#/obj/Debug/net6.0/vscode_C\#.csproj.AssemblyReference.cache
vscode_C\#/obj/project.assets.json
vscode_C\#/obj/project.nuget.cache
vscode_C\#/obj/vscode_C\#.csproj.nuget.dgspec.json
vscode_C\#/obj/vscode_C\#.csproj.nuget.g.props
/vscode_C\#/bin
.DS_Store
.DS_Store
.DS_Store
